// Põhivärvid, nupp ja font
$primary: #b75fff48
$secondary: #fefefe
$text-dark: #333
$text-light: #fff
$accent: #8232d5
$button: #b75fff48
$font: 'Fredoka', sans-serif
  
*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: $font

body
  background-image: url('pics/taustapilt.svg')
  background-size: cover
  background-position: center
  background-attachment: fixed // Konstantne taustapilt
  background-repeat: no-repeat
  color: $text-dark
  line-height: 1.6

.container
  background: #ffffff
  max-width: 1200px
  margin: 0 auto
  padding-left: 3rem
  padding-right: 3rem
  border-radius: 130px 130px 130px 130px

header
  text-align: center
  //margin-bottom: 1rem

.main-nav
  background: $primary
  margin-left: -3rem  // Tühistab konteineri paddingu 
  margin-right: -3rem
  border-radius: 100px 100px 0 0
  padding: 1.5rem 0

  ul
    list-style: none
    display: flex
    justify-content: center
    gap: 5rem
    padding: 1.5rem 
  a
    color: $text-dark
    font-weight: bold
    text-decoration: none
    font-size: 20px
    &:hover
      color: $accent

.main-content
  padding: 2rem 0
  h1
    font-size: 2.5rem
    color: $accent
    margin-bottom: 0.5rem
  > p:first-of-type
    font-size: 1.3rem
    font-weight: bold
    margin-bottom: 2rem
  .text-content
    p
      margin-bottom: 0.5rem

button, .main-content a[href="#"]
  display: inline-block
  margin-top: 1rem
  padding: 0.7rem 1.5rem
  background: $button
  color: $text-dark
  border: none
  border-radius: 10px
  cursor: pointer
  font-weight: bold
  text-align: center
  &:hover
    background: darken($button, 20%)


.contact-form
  display: flex
  justify-content: center
  align-items: center
  min-height: 60vh
  margin-top: 2rem

  form
    display: flex
    flex-direction: column
    background-color: #f5f5f5
    padding: 2rem
    border-radius: 10px
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    width: 100%
    max-width: 400px

    input[type="text"]
      padding: 0.5rem
      border: 1px solid #ccc
      border-radius: 10px

    input[type="submit"]
      background-color: $button
      color: $text-dark
      padding: 0.5rem
      border: none
      border-radius: 10px
      cursor: pointer
      font-weight: bold

      &:hover
        background: darken($button, 20%)


footer
  //background: $primary
  margin-top: 3rem
  padding: 1.5rem
  border-radius: 50px 50px 0 0
  color: $text-dark
  .footer-nav
    ul
      display: flex
      justify-content: space-around
      list-style: none
      padding: 0
      a
        color: $text-dark
        font-weight: bold
        text-decoration: none
        font-size: 17px
        &:hover
          color: $text-light
